{% extends 'notes/base.html' %}

{% block content %}
    <div class="index-wrapper">
        <p class="index-title">Welcome to WebNotes</p>
        <hr class="content-separator">
        <p class="index-text">
            WebNotes is a website made by <a href="https://github.com/nero1933">Nero</a> as a pet project
            to learn django framework. On this site you can register
            and make notes, also it's possible to make folders for your
            notes.
        </p>
    </div>
{% endblock %}