{% extends 'notes/base.html' %}

{% block content %}
    <div class="login-wrapper">
        <p class="content-title">{{ title }}</p>
        <hr class="content-separator">
        <form method="post">
            {% csrf_token %}
            <div>{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div>{{ f.errors }}</div>
            {% endfor %}
        <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}